<!-- avec un attribut -->
<!-- <ul>
    <app-fils>
        <span prenomContent>John </span>
        <span nomContent>Wick</span>
    </app-fils>
    <app-fils>
        <span prenomContent>John </span>
        <span nomContent>Doe</span>
    </app-fils>
    <app-fils>
        <span prenomContent>James </span>
        <span nomContent>Ford</span>
    </app-fils>
</ul> -->

<!-- avec une classe  -->
<!-- <ul>
    <app-fils>
        <span class=prenomContent>John </span>
        <span class=nomContent>Wick</span>
    </app-fils>
    <app-fils>
        <span class=prenomContent>John </span>
        <span class=nomContent>Doe</span>
    </app-fils>
    <app-fils>
        <span class=prenomContent>James </span>
        <span class=nomContent>Ford</span>
    </app-fils>
</ul> -->

<!-- avec un link  -->
<!-- <ul>
    <app-fils>
        <span>John Wick </span>
        <a href="*">Link</a>
    </app-fils>
    <app-fils>
        <span>John Doe </span>
        <a href="*">Link</a>>
    </app-fils>
    <app-fils>
        <span>James Ford </span>
        <a href="*">Link</a>
    </app-fils>
</ul> -->

<!-- récupération des infos dans ts -->
<ul>
    <app-fils [ordre]="tab[0]" [villeNaissance]="sud"></app-fils>
    <app-fils [ordre]="tab[1]" [villeNaissance]="nord"></app-fils>
    <app-fils [ordre]="tab[2]" [villeNaissance]="capitale"></app-fils>
</ul>