<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a routerLink="home" class="navbar-brand">Session Angular</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav">
            <li>
                <a class="nav-link grabLink" routerLink="" routerLinkActiveOptions="true">Accueil</a>
            </li> 
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" >Routing</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" routerLink="adresse">Adresse</a>
                    <a class="dropdown-item" routerLink="stagiaire">Stagiaire</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" >Formulaires</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" routerLink="template-form">Formulaire 1</a>
                    <a class="dropdown-item" routerLink="calculette">Calculette</a>
                    <a class="dropdown-item" routerLink="reactive-form">Reactive Form</a>
                    <a class="dropdown-item" routerLink="tp-form">TpForm</a>
                    
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" >Material UI</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" routerLink="dragdrop">Drag&Drop</a>
                    <a class="dropdown-item" routerLink="dashboard">Dashboard</a>
                    <a class="dropdown-item" routerLink="table">Table</a>
                    <a class="dropdown-item" routerLink="navigation">Navigation</a>
                    <a class="dropdown-item" routerLink="address-form">Address Form</a>
                </div>
            </li>  
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" >Module Véhicule</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" routerLink="vehicule/voiture">Voiture</a>
                    <a class="dropdown-item" routerLink="vehicule/camion">Camion</a>
                </div>
            </li> 
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" >Module Personne</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" routerLink="personne/personnes-list">Liste des personnes</a>
                </div>
            </li> 
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" >Module Employés</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" routerLink="employe/employes-list">Liste des employés</a>
                </div>
            </li> 
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" >Interactions</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" routerLink="pere">Père</a>
                    <a class="dropdown-item" routerLink="parent">Parent</a>
                    <a class="dropdown-item" routerLink="developer">Développeur</a>
                </div>
            </li> 
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown">Observables</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" routerLink="observable">Observable</a>
                </div>
            </li>
            <div > 
                <li *ngIf="isConnected(); then logOut else logIn"> </li>
                <ng-template #logOut>
                    <li>
                        <a class="nav-link grabLink" (click)="setLogOut()">Se déconnecter</a>
                    </li>
                  </ng-template>
                  <ng-template #logIn>
                    <li>
                        <a class="nav-link grabLink"  routerLink="auth" routerLinkActiveOptions="true">Se connecter</a>
                    </li>
                  </ng-template>
            </div>
            <!-- <li *ngIf=!isConnected()>
                <a class="nav-link grabLink"  routerLink="auth" routerLinkActiveOptions="true">Se connecter</a>
            </li>
            <li *ngIf=isConnected()>
                <a class="nav-link grabLink" (click)="setLogOut()">Se déconnecter</a>
            </li>  -->
        </ul>
    </div>
</nav> 


<!-- <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container-fluid">

        <ul class="nav navbar-nav">
            <li class="active">
                <a class="nav-link item" href="#">Link</a>
            </li>
            <li class="dropdown" dropdown>
                <a class="nav-link item" dropdownToggle role="button">
                    Dropdown
                    <span class="caret"></span>
                </a>
                <ul *dropdownMenu class="dropdown-menu">
                    <li><a class="nav-link item" style="color: #000" href="#">Action</a></li>
                    <li><a class="nav-link item" style="color: #000" href="#">Another Action</a></li>
                    <li><a class="nav-link item" style="color: #000" href="#">Something else</a></li>
                    <hr/>
                    <li><a class="nav-link item" style="color: #000" href="#">Separed link</a></li>
                    <hr/>
                    <li><a class="nav-link item" style="color: #000" href="#">Another separed link</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav> -->
<div class="container">
    <router-outlet></router-outlet>
</div>
