<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a routerLink="home" class="navbar-brand">Session Angular</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav">
            <li>
                <a class="nav-link" routerLink="" routerLinkActiveOptions="true">Accueil</a>
            </li>
            <li routerLinkActive="active">
                <a class="nav-link" routerLink="adresse">Adresse</a>
            </li>
            <li routerLinkActive="active" >
                <a class="nav-link" routerLink="stagiaire">Stagiaire</a>
            </li>
            <li routerLinkActive="active" >
                <a class="nav-link" routerLink="template-form">Formulaire 1</a>
            </li>
        </ul>
    </div>
</nav>

<router-outlet></router-outlet>